.header {
    background: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 70%;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav  li {
    display: inline;
    margin: 0 0 0 15px;
}
nav  a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}
.listProduct{
    width: 940px;
    margin: 0 auto;
    padding: 50px;

}
.listProduct li{
    display: inline-block;
    width: 30%;
   
}
.card{
    text-align: center;
    vertical-align: top;
    /*background-color: #cccccc;
    */margin: 0 1.5%;
    padding: 25px 20px;
    box-sizing: border-box;
    border:2px solid #000000;
    border-radius:10px ;
    
}
.card:hover{
    border-color:#c78c19;
   
}
.card:active{
    border-color:#088c19
}
.listProduct h2{
    font-size: 30px;
    font-weight: bold;
}
.listProduct h2:hover{
    font-size: 33px;
}
.producto-descripcion{
font-size: 18px;
}
.producto-precio{
font-size: 20px;
font-weight: bold;
margin-top: 10px;
}
footer{
    text-align: center;
    background-image:url("./img/bg.jpg");
    padding: 40px;
}
.Copyright{
    color: #ffffff;
    font-size: 13px;
}
.mainContactos{
    width: 940px;
    margin: 0 auto;
}
.formContactos{
    margin: 40px 0;
}
.formContactos label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.formContactos input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}